html {
    height: 100%;
  }

td{
    width: 30%;
    height: 20%;
}
body {
    /* The image used */
    background-image: url("fuerte-ventura-corralejo-scaled.jpg");
    
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

div.gallery {
    margin: 5px;
    border: 3px solid #ccc;
    float: left;
    width: 90%;
    height: 90%;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 100%;
}

div.desc {
    padding: 15px;
    text-align: center;
}